.Calculator__container {
  height: 100vh;
  width: auto;
  color: white;
}

.Calculator__title_container {
  display: flex;
  justify-content: center;
}


.Calculator__content {
  display: flex;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Presets__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Presets__container > button {
  border: none;
  border-radius: 10px;
  font-size: 24px;
  margin: 0.25rem;
}

.Calculator__input-button {
  width: 100px;
  margin: 0.5rem;

}

.Calculator__content-right {
  width: 50%;
  height: 100%;
}

